.row{
    display: flex;
    justify-content: space-evenly;
    width:100%;
    margin:4% auto
}
.svg {
 margin-top: -2%;/* Ensure the SVG is above other elements */
}
.groups{
    font-family: "Horev";
    font-size: 8rem;
  direction:rtl;
    color: #ffffff;
    text-align: center;
padding-top:2rem
}
.icon{
    width:10%;
    margin:0 auto;
  }
  .center{
    display: flex;
    justify-content: center;
    margin-top:5%;
  }
  .container{
background:black;
padding-bottom: 2%;;
}
@media only screen and (max-width: 350px) {
    .row{
        display: flex;
        justify-content: space-evenly;
        width:100%;
        margin:4% auto;
        flex-wrap: wrap;
    }
    .svg {
     margin-top: -2%;/* Ensure the SVG is above other elements */
    }
    .groups{
        font-family: "Horev";
        font-size: 4rem;
      direction:rtl;
        color: #ffffff;
        text-align: center;
    padding-top:2rem
    }
    .icon{
        width:30%;
        margin:0 auto;
      }
      .center{
        display: flex;
        justify-content: center;
        margin-top:5%;
      }
      .container{
    background:black;
    padding-bottom: 2%;
    }
}
@media only screen and (min-width: 350px) and (max-width: 450px) {
    .row{
        display: flex;
        justify-content: space-evenly;
        width:100%;
        margin:4% auto;
        flex-wrap: wrap;
    }
    .svg {
     margin-top: -2%;/* Ensure the SVG is above other elements */
    }
    .groups{
        font-family: "Horev";
        font-size: 4.5rem;
      direction:rtl;
        color: #ffffff;
        text-align: center;
    padding-top:2rem
    }
    .icon{
        width:30%;
        margin:0 auto;
      }
      .center{
        display: flex;
        justify-content: center;
        margin-top:5%;
      }
      .container{
    background:black;
    padding-bottom: 2%;
    }
}

