.title {
    font-family: "Horev";
    font-size: 9rem;
  direction:rtl;
    color: #000000;
    text-align: center;


  }
  .bold{
    display: inline;
    color: #9f0000;
  }
  .subTitle{
    font-family: "Horev";
    font-size: 4rem;
    text-align: center;
    width:80%;
    margin:3% auto;
    direction: rtl;
  }
  .container{
background: #f5f3f3;
width:100%;
  }

  @media only screen and (max-width: 350px) {

    .title {
        font-family: "Horev";
        font-size: 4rem;
      direction:rtl;
        color: #000000;
        text-align: center;
    
    
      }
      .bold{
        display: inline;
        color: #9f0000;
      }
      .subTitle{
        font-family: "Horev";
        font-size: 2.5rem;
        text-align: center;
        width:85%;
        margin:3% auto;
        direction: rtl;
      }
      .container{
    background: #f5f3f3;
    width:100%;
      }
    

  }
  @media only screen  and (min-width: 350px) and (max-width: 450px) {

    .title {
        font-family: "Horev";
        font-size: 4.5rem;
      direction:rtl;
        color: #000000;
        text-align: center;
    
    
      }
      .bold{
        display: inline;
        color: #9f0000;
      }
      .subTitle{
        font-family: "Horev";
        font-size: 2.5rem;
        text-align: center;
        width:85%;
        margin:3% auto;
        direction: rtl;
      }
      .container{
    background: #f5f3f3;
    width:100%;
      }
    

  }